<div id="<%= dom_id patient %>">

  <td><%= patient.first_name unless patient.first_name.nil? %></td>
  <td><%= patient.last_name unless patient.last_name.nil? %></td>
  <td><%= patient.document unless patient.document.nil? %></td>
  <td><%= patient.phone_number unless patient.phone_number.nil? %></td>
  <td><%= patient.email unless patient.email.nil? %></td>
  <td><%= patient.birth_date unless patient.birth_date.nil? %></td>

</div>
