<!DOCTYPE html>
<html>
  <head>
    <title>App11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Appointments", appointments_path %>
    <%= link_to "Patients", patients_path %>
    <%= link_to "Professionals", professionals_path %>
    <%= link_to "Payments", payments_path %>
    <%= link_to "Treatments", treatments_path %>
    <%= link_to "Clinics", clinics_path %>
    <%= yield %>
  </body>
</html>
